body{ text-align:center; background:#F3EFE9; font-size:12px;font-family:Tahoma, Arial, 微软雅黑, 宋体;}
.wrap {width:1020px; margin:0 auto; text-align:left;padding:0; height:auto; position:relative}

/*--------------------------------------------------------------------清除浮动*/
.clear{clear:both;height:0;line-height:0;font:0; overflow:hidden; background:#fff;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}.clearfix{display:inline-block}* html .clearfix{height:1%}.clearfix{display:block}

/*--------------------------------------------------------------------框架*/
.header,h1,h2,h3,h4,h5,h6,p,dl,dl dt,dl dd,ul,ul li,.wrap,.left,.right,.center,.content,.header h2 span,.q_nav h3 span,.q_nav,.Tabtitle,.btn_doc,.sy_ysg,.sy_newsp,.sy_news p,.page_tr,.search_doctor,.search_doctor label,.search_doctor span,.time_tilh h4 span em,.pic_lb span,.quick_nav1,.quick_nav2,.infor_search label,.infor_search input,.infor_search p.box3,.search_infor h3 span,.infor_list span,.page_infor a,.pic_pople,.list_ksR,.quick_nav2 ul li p,.disri_mob01,.mob_ks03 ul span,.mob_ks05 span,.news_control span,.news_list ul li em,.mx_pop,.synews2 ul,.survey_left ul li span,.survey_btn,.survey_btn p,.survey_btn span,.sur_newspageR,.newspagemx,.newspage_page,.newspage_page dl dd a,.doctor_mx dl dt span,.doctor_mx dl dd span,.mob_section1,.mob_section2,.section h3,.mob_section2 ul li em,.video,.video dl dt span,.video_list dl dd p,.video_list dl dd span,.work_pic,.mob_work,.news_right span,.tel_list ul strong,.tel_list ul li span,.tel_search h3 span,.search_mx h4 p,.search_mx h4 p span,.time_am,.time_pm,.weibo_sina,.weibo_rmw,.Doctors{display:block; overflow:hidden;}
.wrap{ overflow:visible; background:#FFF;}
.content{position:relative; zoom:1;width:1020px; height:auto; padding:30px 0 60px;}
.left{ float:left;}
.center{ float:left;}
.right{ float:right;}
.main{}
.sidebar{}
.mr0{margin-right:0px;}

/*-------------------页头*/
.header{ width:1020px; text-align:left; height:170px;  position:relative; margin:0 auto; padding:0;font-family:微软雅黑,Tahoma, Arial,宋体; background:url(../images/bj_top001.jpg) right 0 no-repeat;}
  .header h1{width:301px; height:62px; position:absolute; top:42px; left:58px;}
  .header h2{width:1020px; height:26px;line-height:26px;position:absolute; top:0px; right:0px;border-bottom:#EBE4DE 1px solid;color:#6E6E6E; background:#FFF;}
  .header h2 a{color:#6E6E6E;}
  .header h2 span{ float:left; height:26px;}
  .header h2 span.sty_left{ width:350px; padding-left:51px;}
  .header h2 span.sty_center{ width:196px; font-weight:normal; float:left; padding-left:51px;}
  .header h2 span.sty_right{ float:right; width:260px; padding-right:0;}
  .header input.search{ width:211px; height:26px; line-height:26px; padding:0 10px; border:none; background:url(../images/bj_search01.jpg);position:absolute; right:100px; top:66px;color:#6E6E6E;}
  .header input.btn_search{width:56px; height:26px; border:none;background:url(../images/bj_btnsearch01a.jpg);position:absolute; right:75px; top:66px; z-index:5;color:#6A6A6A}
  .header ul{width:917px; height:42px;font-size:16px;z-index:4; position:absolute; bottom:0px; left:50px; border:#D2D2D2 1px solid; background:url(../images/bj_nav01.gif) repeat-x;}
  .header ul a{color:#2d2d2d;transition: all 0.2s ease-in-out 0.2s; -moz-transition:all 0.2s ease-in-out 0.2s; -webkit-transition:all 0.2s ease-in-out 0.2s; -o-transition:all 0.2s ease-in-out 0.2s;}
  .header ul li{width:102px; transition: all 0.2s ease-in-out 0.2s; -moz-transition:all 0.2s ease-in-out 0.2s; -webkit-transition:all 0.2s ease-in-out 0.2s; -o-transition:all 0.2s ease-in-out 0.2s;height:42px; line-height:42px; text-align:center;float:left}
  .header ul li:hover,.header ul li.on{background:#E9E9E9;}
  .header ul li:hover a,.header ul li.on a{color:#2D2D2D;}
  .header ul li.listr{width:101px;}

/*-----------------------页脚*/
.footer{ font-size:12px; clear:both; height:138px; text-align:left; color:#5F5F5F; width:983px;_width:969px; padding-left:66px; margin:0 auto; background:url(../images/bj_bottom.jpg) 0 bottom no-repeat; margin-top:10px; margin-left:-15px; padding-bottom:56px;}
  .footer a{color:#5F5F5F;}
.footer .sy_newsp{width:274px; height:58px; border:#E8E0DA 1px solid; position:relative; float:left; margin-right:10px;}
  .footer .sy_newsp select{ position:absolute; top:25px; left:20px;}
  .footer .sy_newsp select.sty01{ left:122px;}
  .footer .sy_newsp h3{ height:25px; line-height:25px; padding-left:20px; background:url(../images/ico_06.jpg) 8px 12px no-repeat}
  .footer .sy_newsp input.sea_go{ width:36px; height:25px; background:url(../images/btn_go.jpg); border:none; position:absolute; top:22px; right:25px;}
  .footer .sy_ysg{width:335px; height:59px; border:#E8E0DA 1px solid; position:relative;float:left; margin-right:10px;}
  .footer .sy_ysg dl dt{ float:left; width:160px; height:59px;}
  .footer .sy_ysg dl dd{ float:left; width:152px; height:49px; font-size:16px;color:#3A3A3A; padding:10px 0 0 20px; background:url(../images/ico_07.jpg) 100px 14px no-repeat}
  .footer .sy_ysg dl dd a{color:#3A3A3A;}
  .footer .sy_ysg dl dd p{ font-size:12px;color:#FF5A00;}
  .footer .sy_kslj{ width:335px; height:68px;float:left}
  .footer .sy_kslj ul li{ width:67px; height:68px; float:left; margin-right:5px; position:relative;}
  .footer .sy_kslj ul li img{ margin-bottom:9px; }
  .footer .sy_kslj ul li:hover img{ display:none;}
  .footer .sy_kslj ul li span{ display:block;transition: all 0.2s ease-in-out 0.2s; -moz-transition:all 0.2s ease-in-out 0.2s; -webkit-transition:all 0.2s ease-in-out 0.2s; -o-transition:all 0.2s ease-in-out 0.2s; overflow:hidden; width:67px; height:52px; text-align:center; color:#FFF; background:url(../images/bj_pic01.jpg); padding-top:16px;}
.sy_bottom{ float:left; width:950px; line-height:20px; padding-top:10px; position:relative;}
.sy_bottom a#BaseLinks{ position:absolute; top:8px; right:38px; outline:0}
  .sy_bottom h4{padding:8px 0;}
  .sy_bottom h4 a{ margin-right:15px;}
  .sy_bottom h6 a:hover{color:#32D1B1;}
  .sy_bottom h5,.sy_bottom h6{ width:912px;}
  .sy_bottom h5 em,.sy_bottom h6 em{ float:right;}
.page_tr{ width:16px; height:348px; background:url(../images/bj_corner_tr.jpg); position:absolute; top:0; right:-16px;}

/*首页选项卡*/
.bd {width:637px; margin-top:8px}
.bd .none{ display:none;}
.Tabtitle{ height:40px; position:relative; width:637px; border-top:#D7CABF 1px solid; margin-bottom:19px;}
  .Tabtitle h3{background:#F5EEE8;line-height:39px; text-align:center; float:left; width:211px; margin-top:0px;color:#a08e7d; font-size:16px;border:#D7CABF 1px solid; border-top:none}
  .Tabtitle h3 a{color:#a08e7d;}
  .Tabtitle h3 em{color:#a08e7d;}
  .Tabtitle h3.active{background:#FFF;font-weight:bold;border:none;color:#373737;}
  .Tabtitle h3.active em{color:#676767;}
  .Tabtitle h3 a{color:#a08e7d;}
  .Tabtitle h3 a:hover{color:#f00;}
  .Tabtitle h3.active a{color:#a08e7d;}
.TabContent{ width:628px; height:150px;}

/*公用灰色边框*/
.mob01{ width:173px; height:190px; background:url(../images/box_01_bj.jpg) repeat; position:relative; padding:15px 7px;}
  .mob01 p.corner_top{ position:absolute; top:0; left:0; width:187px; height:15px; background:url(../images/box_01_top.jpg) no-repeat;}
  .mob01 p.corner_bom{ position:absolute; bottom:0; left:0; width:187px; height:15px; background:url(../images/box_01_btm.jpg) no-repeat;}
/*二级页面右侧快速导航*/
div.QuickNav{position:absolute; left:-120px; top:0px;display:block; z-index:100; width:95px; height:100%;}
.quick_nav1{ width:95px; height:48px; cursor:pointer;background:#32CFB2;position:absolute; top:128px;}
  .quick_nav2{ width:95px; height:515px; background:#FFF; position:absolute; top:176px; }
  .quick_nav2 ul li{ float:left; width:54px; height:80px; padding-top:5px; position:relative;text-align:center; padding-left:20px;}
  .quick_nav2 ul li a{color:#3F3F3F;transition: all 0.2s ease-in-out; -moz-transition:all 0.2s ease-in-out; -webkit-transition:all 0.2s ease-in-out; -o-transition:all 0.2s ease-in-out;}
  .quick_nav2 ul li p{ width:54px; height:22px; line-height:22px; padding-top:8px; position:absolute; bottom:0; left:0; z-index:50; text-align:center; padding-left:20px;}
  .quick_nav2 ul li img{position:absolute; top:0px; right:0px;-o-transition:opacity .2s ease-in-out;-ms-transition: opacity .2s ease-in-out;-moz-transition: opacity .2s ease-in-out;-webkit-transition: opacity .2s ease-in-out;transition: opacity .2s ease-in-out;}
  .quick_nav2 ul li:hover img.NavNone{ -moz-opacity: 0;opacity:0;filter: alpha(opacity=0); -webkit-opacity:0;}
  .quick_nav2 ul li a:hover{color:#FF6E1F;text-shadow: 1px 1px 2px rgba(225, 73, 130, 0.3);}