.content{ padding:15px 0 20px;}
.left{width:324px; height:676px; background:url(../images/bj_left02.gif) -4px -7px no-repeat;}
.right{width:638px; height:auto; padding-right:51px;}

/*--快速导航*/
.q_nav{ width:100%; height:512px;position:relative}
  .q_nav h3{ width:255px; height:43px; line-height:43px; padding-bottom:13px; background:url(../images/bj_nav_q01.gif) no-repeat; margin:0 0 0 38px; padding-left:30px; font-size:30px;color:#FFF;}
  .q_nav h3 span{ width:87px; height:28px; line-height:26px;border:#99E8D9 1px solid; font-size:19px; float:right; margin:8px 15px 0 0; text-align:center}
  .q_nav h3 span a{color:#FFF;}
  .q_nav h3 span:hover{width:85px; height:26px;   /*background:url(../images/bj_btn01.jpg);*/ background:#FF5A00}
  .q_nav h3 span:hover a{color:#FFF}
  .q_nav dl{ width:227px; height:auto; float:right; border-bottom:#D6D6D6 1px solid; margin-right:20px;_margin-right:10px; margin-top:10px; padding-bottom:14px;}
  .q_nav dl dt{ width:49px; height:60px; float:left}
  .q_nav dl dt img{ width:42px; height:42px; text-align:left}
  .q_nav dl dd{ width:178px; float:right}
  .q_nav dl dd.til{ height:30px; line-height:30px;color:#3F3F3F; font-size:14px; font-weight:bold;}
  .q_nav dl dd.til a{color:#33D0B3}
  .q_nav dl.on dd.til,.q_nav dl.on dd.til a{color:#33D0B3;}
  .q_nav dl dd.cont{ height:auto; line-height:22px;color:#4F4F4F; font-size:12px;}
  .q_nav dl dd.btn{ height:23px; padding-top:5px;}
div#NavSuccinctly{display:none; background:#fff; width:271px;float:right;height:456px;}
.quick_nav{ width:240px; height:440px; float:right; }
  .quick_nav ul { padding-top:0px;}
  .quick_nav ul li{ float:left; width:78px; height:90px; padding-top:15px; position:relative;}
  .quick_nav ul li a{color:#3F3F3F;transition: all 0.2s ease-in-out; -moz-transition:all 0.2s ease-in-out; -webkit-transition:all 0.2s ease-in-out; -o-transition:all 0.2s ease-in-out;}
  .quick_nav ul li p{ width:60px; height:36px; line-height:22px; position:absolute; bottom:0; left:0; z-index:50;}
  .quick_nav ul li img{ position:absolute; top:15px; left:-4px;-o-transition:opacity .2s ease-in-out;-ms-transition: opacity .2s ease-in-out;-moz-transition: opacity .2s ease-in-out;-webkit-transition: opacity .2s ease-in-out;transition: opacity .2s ease-in-out;}
  .quick_nav ul li a:hover{color:#FF6E1F;text-shadow: 1px 1px 2px rgba(225, 73, 130, 0.3);}
  .quick_nav ul li a:hover img.NavNone{ -moz-opacity: 0;opacity:0;filter: alpha(opacity=0); -webkit-opacity:0;}
  
  

/*--省医360°*/
.sy_360{width:275px; margin-left:52px; height:166px; background:#FFF url(../images/bj_sy360.gif) repeat-x; margin-top:8px;}
  .sy_360 h3{ margin-top:8px; background:#FF5A00; height:26px; line-height:26px;color:#FFF; font-size:18px; padding-left:20px; margin-bottom:12px;}
  .sy_360 h3 span{ float:right; padding:8px 20px 0 0;}
  .sy_360 h3 span img{ margin-left:15px;}
  .sy_360 dl{ width:240px; height:100px; padding-left:20px;}
  .sy_360 dl dt{ float:left; width:96px; height:97px;}
  .sy_360 dl dd{ float:right; width:140px; height:auto; line-height:18px;color:#595959;}
  .sy_360 dl dd.til{ font-size:14px; font-weight:bold; vertical-align:middle; padding:8px 0;}
  .sy_360 dl dd a{color:#595959;}
  
/*banner*/
.banner{ position:relative; width:638px; height:302px; display:block; overflow:hidden;}
  .banner div#IndexImagesContent{width:638px; height:302px; position:absolute; top:0; left:0; z-index:5}
  .banner div#IndexImagesContent li{ display:none;}
  .banner div#IndexImagesContent img{width:638px; height:302px; }
  .banner div#IndexImages{width:17px; height:68px; position:absolute; top:78px; left:0; z-index:10; padding:30px 21px; background:url(../images/bj_transparent.png) repeat-y;}
  .banner div#IndexImages img{ margin-bottom:10px;}
/*省医快讯*/
.sy_news{ width:214px; height:134px; float:left; margin-right:15px;padding-left:10px; }
  .sy_news h4{ width:214px; height:42px; line-height:21px; background:url(../images/ico_06.jpg) 10px 8px no-repeat; text-indent:2em; font-size:14px;color:#FF6511; margin-bottom:6px; margin-top:-4px;}
  .sy_news h4 a{color:#FF6511;}
  .sy_news p{ width:214px; height:80px;line-height:20px; font-family:Tahoma, Arial, 宋体, 黑体;color:#404040; }
.sy_pic01{width:130px; height:134px; float:left; margin-right:15px;}
  .sy_pic01 h4{width:130px; height:81px;}
  .sy_pic01 p{height:11px; line-height:11px; padding-top:10px; text-align:center}
  .sy_pic01 p img{ margin:0 5px;}
.sy_newsr{width:244px; height:134px; float:left;}
  .sy_newsr ul{ }
  .sy_newsr ul li{ height:22px; line-height:22px; width:244px;color:#A08E7D;font-family:Tahoma, Arial, 宋体, 黑体;}
  .sy_newsr ul li em{ float:right; font-size:10px;font-family:Arial;}
  .sy_newsr ul li a{color:#404040;}
.synews2{}
  .synews2 ul{width:630px; height:132px;}
  .synews2 ul li{ width:280px; height:22px; float:left; padding:0 20px 0 15px; background:url(../images/ico_bj06.jpg) 2px 9px no-repeat}

/*科室与医生*/
.doctors{ width:637px; height:156px; background:url(../images/pic_02.jpg) top right no-repeat; position:relative;}
  .doctors h3{ width:420px; height:30px; position:absolute; top:15px; left:15px;color:#33d0b3; font-size:16px;}
  .doctors h3 a{color:#33d0b3;}
  .doctors h3 span{ float:left; margin-right:15px;}
  .doctors h3 span.style1{ width:186px; height:19px; background:url(../images/bj_d001.png) no-repeat;color:#FFF; text-align:center}
  .doctors ul{ width:460px; height:100px; position:absolute; top:50px; left:45px;}
  .doctors ul li{ width:95px; height:28px; line-height:28px; text-align:center; float:left; background:url(../images/bj_btn02.jpg); margin:0 15px 15px 0; padding:5px 0px; font-size:12px;}
  .doctors ul li a{color:#3d3d3d}
  .doctors ul li.sty01{ line-height:15px; font-size:12px;}
  .doctors span.btn_doc{ width:60px; height:15px; position:absolute; display:block; bottom:20px; right:40px;}
  .doctors span.btn_doc img{ margin:0 5px;}
div#doctorsLoader{ width:425px; height:58px; position:absolute; display:none; text-align:center; padding-top:42px; top:50px;z-index:120; left:45px;}
/*省医新浪微博*/
div#n1Tab_Content0{ display:block;}
div.n1Tab_Content{ display:none;}
.weibo_sina,.weibo_rmw{width:310px; height:135px; float:left; border-bottom:#D2D2D2 1px solid; padding:0px;}
.weibo_rmw{ float:right;}
.btm_none{ border-bottom:none;}

.AdvertBox {
	POSITION: relative; MARGIN: auto; WIDTH: 638px; display:block; HEIGHT: 302px; z-index:100; cursor:pointer;
}
.Advert_time {
	POSITION: absolute;  PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 66px; PADDING-RIGHT: 5px; HEIGHT: 14px; display:none; COLOR: #fff; TOP: 0px; PADDING-TOP: 5px; LEFT: 0px;  background-image:url(../images/a002.png);
}
.Advert_time SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #cc0; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.pic_hover {
	POSITION: absolute; FILTER: alpha(opacity=80); PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #ffffff; PADDING-LEFT: 10px; WIDTH: 638px; BOTTOM: -30px; PADDING-RIGHT: 0px; HEIGHT: 25px; OVERFLOW: hidden; PADDING-TOP: 6px; LEFT: 0px; opacity: 0.8
}
.pic_hover P {
   TEXT-ALIGN: justify; width:638px;  LINE-HEIGHT: 18px; float:left; overflow:hidden; text-indent:2em; font-size:12px; font-weight:bold;
}
div#loader{ POSITION:absolute; top:0px; left:0px; padding-left:310px; padding-top:143px; WIDTH: 638px; display:block; HEIGHT: 302px; z-index:120;}
div.ad_pass{ position:absolute; left:-128px; top:0px; display:block; z-index:100; width:115px; height:100%;}
div.ad_dc{ position:absolute; left:-128px; top:100px; display:block; z-index:100; width:115px; height:100%;}
div.ad2013_pass{ position:absolute; right:-128px; top:0px; display:block; z-index:100; width:115px; height:100%;}
div.index_ad{ position:fixed; top:170px;  display:block; width:115px; height:332px; overflow:visible;}
div.index_ad2{top:490px;}