<!--quick nav start-->

<div class="QuickNav">
    <div class="quick_nav1"><img src="<%templateskin%>/images/pic_qnav01.jpg" width="95" height="48" alt="快速导航" title="快速导航" /></div>
    <div class="quick_nav2">
        <ul>
            <li><a href="Treatment.aspx"><img src="<%templateskin%>/images/ico_nav001b.png" width="54" height="54" alt="就诊指南" title="就诊指南" /><img class="NavNone" src="<%templateskin%>/images/ico_nav001.png" width="54" height="54" alt="就诊指南" title="就诊指南" /><p>就诊指南</p></a></li>
            <li><a href="time.aspx"><img src="<%templateskin%>/images/ico_nav004b.png" width="54" height="54" alt="出诊安排" title="出诊安排" /><img class="NavNone" src="<%templateskin%>/images/ico_nav004.png" width="54" height="54" alt="出诊安排" title="出诊安排" /><p>出诊安排</p></a></li>
            <li><a href="distribution.aspx"><img src="<%templateskin%>/images/ico_nav003b.png" width="54" height="54" alt="省医地图" title="省医地图" /><img class="NavNone" src="<%templateskin%>/images/ico_nav003.png" width="54" height="54" alt="省医地图" title="省医地图" /><p>省医地图</p></a></li>
            <li><a href="infor_retrieval.aspx"><img src="<%templateskin%>/images/ico_nav008b.png" width="54" height="54" alt="信息查询" title="信息查询" /><img class="NavNone" src="<%templateskin%>/images/ico_nav008.png" width="54" height="54" alt="信息查询" title="信息查询" /><p>信息查询</p></a></li>
            <li><a href="visit_nav.aspx"><img src="<%templateskin%>/images/ico_nav002b.png" width="54" height="54" alt="科室导航" title="科室导航" /><img class="NavNone" src="<%templateskin%>/images/ico_nav002.png" width="54" height="54" alt="科室导航" title="科室导航" /><p>科室导航</p></a></li>
            <li><a href="http://www.hnsrmyy.net/Treatment_Detail.aspx?id=449"><img src="<%templateskin%>/images/ico_nav005b.png" width="54" height="54" alt="预约挂号" title="预约挂号" /><img class="NavNone" src="<%templateskin%>/images/ico_nav005.png" width="54" height="54" alt="预约挂号" title="预约挂号" /><p>预约挂号</p></a></li>
        </ul>
    </div>
</div>

<!--quick nav end-->