<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{site.seo_title}</title>
<meta name="keywords" content="{site.seo_keyword}" />
<meta name="description" content="{site.seo_description}" />
<!--<link href="<%templateskin%>/css/style.css" rel="stylesheet" type="text/css" />-->
    <link href="<%templateskin%>/css/common.css" rel="stylesheet" type="text/css" />
    <link href="<%templateskin%>/css/index.css" rel="stylesheet" type="text/css" />
    <link href="<%templateskin%>/css/base.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" charset="utf-8" src="{config.webpath}scripts/jquery/jquery-1.11.2.min.js"></script>
<script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/jquery.flexslider-min.js"></script>
<script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/common.js"></script>
    <script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/imgReady.js"></script>
    <script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/index.js"></script>
<script type="text/javascript">
$(function(){
	$(".focusbox").flexslider({
		directionNav: false,
		pauseOnAction: false
	});
});
</script>
</head>

<body>
    <div class="wrap">
        <!--Header-->
        <%template src="_header.html"%>
        <!--/Header-->

        <div class="content">
            <div class="left">
                <div class="q_nav">
                    <h3><span><a href="javascript:void(0)" id="ShowNav">简洁显示</a></span>快速导航</h3>
                    <div id="NavSuccinctly">
                        <dl class="cont">
                            <dt><a href="visit_nav.aspx" target="_blank"><img src="<%templateskin%>/images/ico_01.png" width="44" height="41" alt="科室导航" title="科室导航" /></a></dt>
                            <dd class="til"><a href="visit_nav.aspx" target="_blank">科室导航</a></dd>
                            <dd class="cont">按医学分类，浏览其下辖科室详细内容；顶部模型图操作：移动鼠标至相应部位，系统自动罗列当前部位所涉及科室。</dd>
                            <dd class="btn"><a href="visit_nav.aspx" target="_blank"><img src="<%templateskin%>/images/btn_01.jpg" width="74" height="23" alt="查看更多" title="查看更多" /></a></dd>
                        </dl>
                        <dl>
                            <dt><a href="time.aspx" target="_blank"><img src="<%templateskin%>/images/ico_nav004.png" width="42" height="42" alt="出诊安排" title="出诊安排" /></a></dt>
                            <dd class="til"><a href="time.aspx" target="_blank">出诊安排</a></dd>
                            <dd class="cont">对五天工作日内值班情况做精确显示，周末值班信息仅供参考。</dd>
                            <dd class="btn"><a href="time.aspx" target="_blank"><img src="<%templateskin%>/images/btn_01.jpg" width="74" height="23" alt="查看更多" title="查看更多" /></a></dd>
                        </dl>
                        <dl style="border-bottom:none;">
                            <dt><a href="infor_retrieval.aspx" target="_blank"><img src="<%templateskin%>/images/ico_nav008.png" width="42" height="42" alt="信息查询" title="信息查询" /></a></dt>
                            <dd class="til"><a href="infor_retrieval.aspx" target="_blank">信息查询</a></dd>
                            <dd class="cont">按查询词条首位字母快速索引相关查询结果，同时支持关键字模糊查询。</dd>
                            <dd class="btn"><a href="infor_retrieval.aspx" target="_blank"><img src="<%templateskin%>/images/btn_01.jpg" width="74" height="23" alt="查看更多" title="查看更多" /></a></dd>
                        </dl>
                    </div>
                    <div class="quick_nav">
                        <ul>
                            <li><a href="Treatment.html" target="_blank"><img src="<%templateskin%>/images/ico_nav001b.png" width="54" height="54" alt="就诊指南" title="就诊指南" /><img class="NavNone" src="<%templateskin%>/images/ico_nav001.png" width="54" height="54" alt="就诊指南" title="就诊指南" /><p>就诊指南</p></a></li>
                            <li> <a href="visit_nav.aspx" target="_blank"><img src="<%templateskin%>/images/ico_nav002b.png" width="54" height="54" alt="科室导航" title="科室导航" /><img class="NavNone" src="<%templateskin%>/images/ico_nav002.png" width="54" height="54" alt="科室导航" title="科室导航" /><p>科室导航</p></a></li>
                            <li><a href="#" target="_blank"><img src="<%templateskin%>/images/ico_nav003b.png" width="54" height="54" alt="人医地图" title="人医地图" /><img class="NavNone" src="<%templateskin%>/images/ico_nav003.png" width="54" height="54" alt="人医地图" title="人医地图" /><p>人医地图</p></a></li>
                            <li><a href="time.aspx" target="_blank"><img src="<%templateskin%>/images/ico_nav004b.png" width="54" height="54" alt="出诊安排" title="出诊安排" /><img class="NavNone" src="<%templateskin%>/images/ico_nav004.png" width="54" height="54" alt="出诊安排" title="出诊安排" /><p>出诊安排</p></a></li>
                            <li><a href="#" target="_blank"><img src="<%templateskin%>/images/ico_nav005b.png" width="54" height="54" alt="预约挂号" title="预约挂号" /><img class="NavNone" src="<%templateskin%>/images/ico_nav005.png" width="54" height="54" alt="预约挂号" title="预约挂号" /><p>预约挂号</p></a></li>
                            <li><a href="Route.aspx" target="_blank"><img src="<%templateskin%>/images/ico_nav006b.png" width="54" height="54" alt="来院路线" title="来院路线" /><img class="NavNone" src="<%templateskin%>/images/ico_nav006.png" width="54" height="54" alt="来院路线" title="来院路线" /><p>来院路线</p></a></li>
                            <li><a href="Telephone.aspx" target="_blank"><img src="<%templateskin%>/images/ico_nav007b.png" width="54" height="54" alt="电话查询" title="电话查询" /><img class="NavNone" src="<%templateskin%>/images/ico_nav007.png" width="54" height="54" alt="电话查询" title="电话查询" /><p>电话查询</p></a></li>
                            <li><a href="infor_retrieval.aspx" target="_blank"><img src="<%templateskin%>/images/ico_nav008b.png" width="54" height="54" alt="信息查询" title="信息查询" /><img class="NavNone" src="<%templateskin%>/images/ico_nav008.png" width="54" height="54" alt="信息查询" title="信息查询" /><p>信息查询</p></a></li>
                            <li><a href="http://e.weibo.com/hnsrmyybnly" target="_blank"><img src="<%templateskin%>/images/ico_nav009b.png" width="54" height="54" alt="人医微博" title="人医微博" /><img class="NavNone" src="<%templateskin%>/images/ico_nav009.png" width="54" height="54" alt="医生微博" title="医生微博" /><p>人医微博</p></a></li>
                            <li><a href="Site_Map.aspx" target="_blank"><img src="<%templateskin%>/images/ico_nav010b.png" width="54" height="54" alt="站点地图" title="站点地图" /><img class="NavNone" src="<%templateskin%>/images/ico_nav010.png" width="54" height="54" alt="站点地图" title="站点地图" /><p>站点地图</p></a></li>
                            <li><a href="message.aspx" target="_blank"><img src="<%templateskin%>/images/ico_nav011b.png" width="54" height="54" alt="在线留言" title="在线留言" /><img class="NavNone" src="<%templateskin%>/images/ico_nav011.png" width="54" height="54" alt="在线留言" title="在线留言" /><p>在线留言</p></a></li>
                            <li><a href="DownLoad.aspx" target="_blank"><img src="<%templateskin%>/images/ico_nav014b.png" width="54" height="54" alt="资料下载" title="资料下载" /><img class="NavNone" src="<%templateskin%>/images/ico_nav014a.png" width="54" height="54" alt="资料下载" title="资料下载" /><p>资料下载</p></a></li>
                        </ul>
                    </div>
                </div>
                <div class="sy_360">
                    <h3><span><a href="distribution.aspx" target="_blank"><img src="images/btn_02right.png" width="11" height="10" alt="旋转" title="旋转" /></a></span>人医微信号</h3>
                    <dl>
                        <dt>
                            <a href="distribution.aspx" target="_blank"><img onmouseover="this.src = '<%templateskin%>/images/pic_360a.jpg'" onmouseout="    this.src = '<%templateskin%>/images/pic_360.jpg'" src="images/pic_360.jpg" width="96" height="97" alt="360度" title="360度" /></a>
                        </dt>
                        <dd class="til">使用说明 &nbsp;&nbsp; <img src="images/btn_02right.png" width="11" height="10" alt="切换" /></dd>
                        <dd>通过鼠标横向拖拽，实现角度切换，可点击每个楼层查看详细。</dd>
                    </dl>
                </div>
            </div>
            <div class="right">
                <div class="banner">
                    <div class="AdvertBox">
                        <div><a href="javascript:void(0)"><img src="<%templateskin%>/images/banner_index.jpg" id="result_banner" width="638" height="302" alt="河南省人民医院" /></a></div>
                        <div class="Advert_time">还剩<span id="Advert_span">6</span>秒</div>
                    </div>
                    <div id="IndexImagesContent">
                        <ul>
                            <li>
                                <a href="http://www.hnsrmyy.net/news_detail.aspx?id=7130" target="_blank"><img src="/uploadfiles/thumb/201507221636128.jpg" width="638" height="302" alt="马保根院长在专题党课上强调：切实践行“三严三实”要求 扎实推进党员干部作风建设" title="马保根院长在专题党课上强调：切实践行“三严三实”要求 扎实推进党员干部作风建设" /></a>
                                <div class="pic_hover"><p>马保根院长在专题党课上强调：切实践行“三严三实”要求 扎实推进党员干部作风建设</p></div>
                            </li>

                            <li>
                                <a href="http://www.hnsrmyy.net/news_detail.aspx?id=7116" target="_blank"><img src="/uploadfiles/thumb/2015070816152683.jpg" width="638" height="302" alt="在庆祝建党94周年大会上，院党委强调—加强党员干部队伍建设 促进医院科学发展" title="在庆祝建党94周年大会上，院党委强调—加强党员干部队伍建设 促进医院科学发展" /></a>
                                <div class="pic_hover"><p>在庆祝建党94周年大会上，院党委强调—加强党员干部队伍建设 促进医院科学发展</p></div>
                            </li>

                            <li>
                                <a href="http://www.hnsrmyy.net/news_detail.aspx?id=7114" target="_blank"><img src="/uploadfiles/thumb/2015070816184233.jpg" width="638" height="302" alt="“七一”慰问送真情" title="“七一”慰问送真情" /></a>
                                <div class="pic_hover"><p>“七一”慰问送真情</p></div>
                            </li>

                            <li>
                                <a href="http://www.hnsrmyy.net/news_detail.aspx?id=7106" target="_blank"><img src="/uploadfiles/thumb/2015070816121135.jpg" width="638" height="302" alt="“河南省人民医院的建设成就令人震撼！”—加拿大皇家医师学会副主席苏珊·布瑞恩一行来院访问" title="“河南省人民医院的建设成就令人震撼！”—加拿大皇家医师学会副主席苏珊·布瑞恩一行来院访问" /></a>
                                <div class="pic_hover"><p>“河南省人民医院的建设成就令人震撼！”—加拿大皇家医师学会副主席苏珊·布瑞恩一行来院访问</p></div>
                            </li>

                            <li>
                                <a href="javascript:void(0)" target="_blank"><img src="/uploadfiles/thumb/201503242049171.jpg" width="638" height="302" alt="" title="" /></a>
                                <div class="pic_hover"><p></p></div>
                            </li>

                            <li>
                                <a href="http://www.hnsrmyy.net/news_detail.aspx?id=5269" target="_blank"><img src="/uploadfiles/thumb/2013113008295830.jpg" width="638" height="302" alt="河南省人民医院微信公众平台感谢您的关注！" title="河南省人民医院微信公众平台感谢您的关注！" /></a>
                                <div class="pic_hover"><p>河南省人民医院微信公众平台感谢您的关注！</p></div>
                            </li>

                            <li>
                                <a href="http://www.hnsrmyy.net/section.aspx" target="_blank"><img src="/uploadfiles/thumb/2014121511404722.jpg" width="638" height="302" alt="培育和践行社会主义核心价值观" title="培育和践行社会主义核心价值观" /></a>
                                <div class="pic_hover"><p>培育和践行社会主义核心价值观</p></div>
                            </li>
                        </ul>
                    </div>
                    <div id="IndexImages" style="top:10px;height:188px;">

                        <a href="javascript:void(0)"><img src="images/ico_04.gif" width="17" height="17" alt="马保根院长在专题党课上强调：切实践行“三严三实”要求 扎实推进党员干部作风建设" /> </a>

                        <a href="javascript:void(0)"><img src="images/ico_04b.gif" width="17" height="17" alt="在庆祝建党94周年大会上，院党委强调—加强党员干部队伍建设 促进医院科学发展" /> </a>

                        <a href="javascript:void(0)"><img src="images/ico_04b.gif" width="17" height="17" alt="“七一”慰问送真情" /> </a>

                        <a href="javascript:void(0)"><img src="images/ico_04b.gif" width="17" height="17" alt="“河南省人民医院的建设成就令人震撼！”—加拿大皇家医师学会副主席苏珊·布瑞恩一行来院访问" /> </a>

                        <a href="javascript:void(0)"><img src="images/ico_04b.gif" width="17" height="17" alt="" /> </a>

                        <a href="javascript:void(0)"><img src="images/ico_04b.gif" width="17" height="17" alt="河南省人民医院微信公众平台感谢您的关注！" /> </a>

                        <a href="javascript:void(0)"><img src="images/ico_04b.gif" width="17" height="17" alt="培育和践行社会主义核心价值观" /> </a>

                    </div>
                    <div id="loader"><img src="image/loading.gif" width="16px" height="16px" /></div>
                </div>
                <div>
                    <!--选项卡 begin-->
                    <div class="bd" id="n1Tab">
                        <div class="Tabtitle">
                            <h3 class="nTabs active"><a href="news.aspx" target="_blank">人医快讯<em>Hospital News</em></a></h3>
                            <h3 class="nTabs"><a href="Notice.aspx" target="_blank">最新公告<em>Bulletin</em></a></h3>
                            <h3 class="nTabs">官方微博<em>WeiBo</em></h3>
                        </div>
                        <div class="TabContent">
                            <div id="n1Tab_Content0" class="n1Tab_Content">
                                <div class="sy_news">
                                    <h4><a href="news_detail.aspx?id=7166" id="a_FirstTitle" target="_blank">坚定信念严修身  立足本职求实效—院党委中心组召开“三...</a></h4>
                                    <p id="p_FirstContent" target="_blank">8月6日下午，围绕“严以修身，加强党性修养，坚定理想信念，把牢思想和行动的‘总开关’”主题及“三查三保”活动，院党委中心组召开“三严三实...</p>
                                </div>
                                <div class="sy_pic01">
                                    <h5><img src="pic/pic_02.jpg" width="130" height="81" alt="相关文字介绍" /></h5>
                                    <p></p>
                                </div>
                                <div class="sy_newsr">
                                    <ul>

                                        <li><em>2015-08-13</em><a target="_blank" href="news_detail.aspx?id=7165">心血管病医院：专题学习研讨会</a></li>

                                        <li><em>2015-08-13</em><a target="_blank" href="news_detail.aspx?id=7164">中国工程院院士韩雅玲莅临我院</a></li>

                                        <li><em>2015-08-13</em><a target="_blank" href="news_detail.aspx?id=7163">国内著名专家聚集郑州解“男题</a></li>

                                        <li><em>2015-08-13</em><a target="_blank" href="news_detail.aspx?id=7161">严格考官培训  提升住培水平</a></li>

                                        <li><em>2015-08-13</em><a target="_blank" href="news_detail.aspx?id=7160">2015级硕士研究生开启求学</a></li>

                                        <li><em>2015-08-13</em><a target="_blank" href="news_detail.aspx?id=7158">我院公共区域无线网络建设一期</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div id="n1Tab_Content1" class="n1Tab_Content">
                                <div class="sy_newsr synews2">
                                    <ul>

                                        <li><em>2015-08-10</em><a target="_blank" href="Notice_detail.aspx?id=7143">河南省人民医院卫生部四级妇科内镜手术培训基地《手拉手—妇科内镜手术培训班》通知</a></li>

                                        <li><em>2015-07-22</em><a target="_blank" href="Notice_detail.aspx?id=7134">河南省人民医院招募标准化病人（SP）公告</a></li>

                                        <li><em>2015-07-14</em><a target="_blank" href="Notice_detail.aspx?id=7118">2015年河南省人民医院临床药师(通科培训)秋季招生公告</a></li>

                                        <li><em>2015-06-17</em><a target="_blank" href="Notice_detail.aspx?id=7080">2015年端午节假期出诊医师排班表</a></li>

                                        <li><em>2015-06-06</em><a target="_blank" href="Notice_detail.aspx?id=7064">助产士招聘公示</a></li>

                                        <li><em>2015-04-30</em><a target="_blank" href="Notice_detail.aspx?id=6947">2015年五一劳动节门诊医师值班表</a></li>

                                        <li><em>2015-04-29</em><a target="_blank" href="Notice_detail.aspx?id=6945">河南省第二届尿道修复与重建学习班通知</a></li>

                                        <li><em>2015-04-21</em><a target="_blank" href="Notice_detail.aspx?id=6938">2015年公开招聘专业技术人员（全院）面试方案</a></li>

                                        <li><em>2015-04-15</em><a target="_blank" href="Notice_detail.aspx?id=6932">关于举办国家级继续医学教育项目“遗传病个体化医学检测新技术进展第二期学习班”二轮通知</a></li>

                                        <li><em>2015-04-08</em><a target="_blank" href="Notice_detail.aspx?id=6919">关于我院2015年度护士招聘工作推迟的通知</a></li>

                                    </ul>
                                </div>
                            </div>
                            <div id="n1Tab_Content2" class="n1Tab_Content">
                                <ul class="list_top" id="weiboShare"></ul>
                            </div>
                        </div>
                    </div><!--选项卡 end-->
                </div>
                <div class="doctors">
                    <h3><span><a href="visit_nav.aspx">科室与医生</a></span><span class="style1">Department & Doctors</span></h3>
                    <ul id="Offices">

                        <li><a target="_blank" href="visit_office.aspx?id=24">泌尿外科</a></li>

                        <li><a target="_blank" href="visit_office.aspx?id=6">肾病风湿免疫科</a></li>

                        <li class="sty01"><a target="_blank" href="visit_office.aspx?id=57">神经内科康馨病房</a></li>

                        <li><a target="_blank" href="visit_office.aspx?id=12">神经内科</a></li>

                        <li><a target="_blank" href="visit_office.aspx?id=13">消化内科</a></li>

                        <li class="sty01"><a target="_blank" href="visit_office.aspx?id=30">河南省立眼科医院</a></li>

                        <li class="sty01"><a target="_blank" href="visit_office.aspx?id=2">过敏反应科（变态反应科）</a></li>

                        <li><a target="_blank" href="visit_office.aspx?id=40">整形美容外科</a></li>

                    </ul>
                    <div id="doctorsLoader"><img src="image/loading.gif" width="16px" height="16px" /></div>
                    <span class="btn_doc">
                        <a href="javascript:bindRandomOffices()"><img src="images/btn_02right.png" width="11" height="10" alt="切换" /></a>
                    </span>
                </div>
            </div>
        </div>
        <!--content end-->
        <div class="clear"></div>
        <script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/index.js"></script>
        <!--Footer-->
        <%template src="_footer.html"%>
        <!--/Footer-->
    </div></body>
</html>