<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<%set string category_title=get_category_title(model.category_id,"新闻资讯")%>
<%set int category_id = model.category_id%>
<title>{model.title} - {site.name}</title>
<meta name="keywords" content="{model.seo_keywords}" />
<meta name="description" content="{model.seo_description}" />
<link href="{config.webpath}css/pagination.css" rel="stylesheet" />
<!--<link href="<%templateskin%>/css/style.css" rel="stylesheet" type="text/css" />-->

    <link href="<%templateskin%>/css/common.css" rel="stylesheet" type="text/css" />
    <link href="<%templateskin%>/css/second.css" rel="stylesheet" type="text/css" />
    <link href="<%templateskin%>/css/base.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" charset="utf-8" src="{config.webpath}scripts/jquery/jquery-1.11.2.min.js"></script>
<script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/common.js"></script>
    <script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/imgReady.js"></script>
</head>

<body>
    <div class="wrap">
        <!--Header-->
        <%template src="_header.html"%>
        <!--/Header-->
        <!--content begin-->
        <div class="content">
            <div class="left infor_left news_bj">
                <!--新闻左侧导航-->
		        <%template src="_newsLeftNav.html"%>
		        <!--/新闻左侧导航-->
                <div class="hospital_link"></div>
            </div>
             <div class="center news_center">
      <div class="site_nav news_nav">首页 > 就诊指南 > 住院指南</div>
      <div class="news_mx news_mx2">
        <h3 id="H3Title">{model.title}</h3>
      </div>
      <div class="news_control">
        <span id="span_Date" class="sty01">发布日期:2012/12/18</span>
               <span id="SpanHitNum" class="sty02">浏览量:14999</span>
        <div class="DragBody"><div class="FontSizeChange">字号调整：</div><div id="dragContainer"><div id="dragDiv"></div></div></div>       
        <div id="bdshare" class="bdshare_b" style="line-height: 12px;"><img src="images/btn_news01.jpg" width="40" height="40" alt="分享" title="分享" /><a class="shareCount"></a></div>
        <script type="text/javascript" id="bdshare_js" data="type=button&amp;uid=6713615" ></script><script type="text/javascript" id="bdshell_js"></script><script type="text/javascript">document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date() / 3600000);</script>
      </div>
      <div class="news_mx">
        <div id="ul_Content"> 
        {model.content}
        </div>
      </div>
    </div>
    <div class="right news_right n_mx">
      <h5><img src="images/pic_024.jpg" width="168" height="71" alt="图片描述" title="图片描述" /></h5>
      <div class="right_newsmx">
        <h6>阅读推荐</h6>
        <ul>
            
                 <li><a href="Notice_detail.aspx?id=7168">河南省医师协会泌尿外科医师分会成立大会暨第二届河南省泌尿微创新技术研讨会的通知</a><br /><em>2015-08-19</em>浏览：6</li>
              
                
        </ul>
      </div>
    </div>
  </div>
  <!--content end-->
        <div class="clear"></div> 
        <!--Footer-->
        <%template src="_footer.html"%>
        <!--/Footer-->
        <!--quick nav start-->
        <%template src="_quick_nav.html"%>
        <!--quick nav end-->
    </div></body>
</html>