<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻资讯 - {site.name}</title>
<meta name="keywords" content="{site.seo_keyword}" />
<meta name="description" content="{site.seo_description}" />
<link href="<%templateskin%>/css/style.css" rel="stylesheet" type="text/css" />

    <link href="<%templateskin%>/css/common.css" rel="stylesheet" type="text/css" />
    <link href="<%templateskin%>/css/second.css" rel="stylesheet" type="text/css" />
    <link href="<%templateskin%>/css/base.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" charset="utf-8" src="{config.webpath}scripts/jquery/jquery-1.11.2.min.js"></script>
<script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/jquery.flexslider-min.js"></script>
<script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/common.js"></script>

<script type="text/javascript">
$(function(){
	$(".focusbox").flexslider({
		directionNav: false,
		pauseOnAction: false
	});
});
</script>
</head>

<body>
	<div class="wrap">
<!--Header-->
<%template src="_header.html"%>
<!--/Header-->
 <!--content begin-->
  <div class="content mob_ks">
    <div class="left ks_left">
      <h3>科研教学</h3>
      <h4>Department of Neurology<br />Elderly</h4>
      <div class="ks_listL">
        <h5><img src="<%templateskin%>/images/pic_kstel.jpg" width="167" height="61" alt="医院总机" title="医院总机" /><br /><a href="Telephone.aspx"><em>按步骤精确查找号码</em></a></h5>
        <ul><!--此处显示教学科研的子栏目标题列表-->
          
    <li><a href="scientific_list.aspx?id=13">科研项目</a></li>
  
    <li><a href="scientific_list.aspx?id=14">科研成果</a></li>
  
    <li><a href="scientific_list.aspx?id=15">教育培训</a></li>
  
    <li><a href="scientific_list.aspx?id=16">中华实验眼科杂志</a></li>
  
    <li><a href="scientific_list.aspx?id=17">中华实用诊断与治疗杂志</a></li>
  
    <li><a href="scientific_list.aspx?id=18">图书馆</a></li>
  
    <li><a href="scientific_list.aspx?id=78">中心实验室</a></li>
  <li><a href="http://www.hnsrmyy.net/FunctionalDepartment.aspx?id=112">教学科</a></li>
        </ul>
      </div>        
    </div>
    <div class="right mob_right science">
      <div class="site_nav">首页 > 科研教学</div>
     <div class="scroller">        
         <div class="scrollerInner">
          <ol class="ImagesItem">
          
          <li style="display: block"><a href="javascript:void(0)" ><img  src="<%templateskin%>/images/2013022711092714.jpg" width="401" height="225" alt="河南省人民医院-科研教学栏目" title="河南省人民医院-科研教学栏目" /></a></li>        
          
          <li><a href="javascript:void(0)" ><img  src="/uploadfiles/thumb/2013022711080397.jpg" width="401" height="225" alt="河南省人民医院-科研教学栏目" title="河南省人民医院-科研教学栏目" /></a></li>        
          
          </ol>
        </div>
        <div class="scrollerHeader">
            <div class="scrollerIndex">
            <ol>
                <li><a class="on"  href="javascript:void(0)">1</a></li>
                
                <li><a   href="javascript:void(0)">2</a></li>
                </ol></div>
                <div class="IndexContent" ><ol>
                <li>河南省人民医院-科研教学栏目</li><li>河南省人民医院-科研教学栏目</li></ol></div>
        </div>
      </div>
      
       <div class="mob_ks07">
        <h3><span><a href="scientific_list.aspx?id=13"><img src="<%templateskin%>/images/more_02.jpg" width="53" height="16" alt="更多" title="更多" /></a></span>科研项目<em> Scientific research project</em></h3>
        <dl>
          <dt><a href="javascript:void(0)" title=""><img src="/uploadfiles/thumb/2012122617530442.jpg" width="184" height="138" alt="" title="" /></a></dt>
          <dd>
            <ul>
                
                    <li><span>2015-05-25</span><a target="_blank"  href="scientific_detail.aspx?id=7028">河南省卫生计生委2015年度“5451”项目开始申报</a></li>
                  
                    <li><span>2015-05-22</span><a target="_blank"  href="scientific_detail.aspx?id=7027">2015年度河南省医学科技攻关计划项目申报</a></li>
                  
                    <li><span>2014-05-28</span><a target="_blank"  href="scientific_detail.aspx?id=6128">JCR分区列表</a></li>
                  
                    <li><span>2013-02-25</span><a target="_blank"  href="scientific_detail.aspx?id=3602">科研考核</a></li>
                  
                    <li><span>2013-02-22</span><a target="_blank"  href="scientific_detail.aspx?id=3598">2012年科研立项创历史最高水平</a></li>
                  
                    <li><span>2013-02-19</span><a target="_blank"  href="scientific_detail.aspx?id=3597">2012年科研成果再创佳绩</a></li>
                  
            </ul>
          </dd>
        </dl>
      </div>
      
       <div class="mob_ks07">
        <h3><span><a href="scientific_list.aspx?id=14"><img src="images/more_02.jpg" width="53" height="16" alt="更多" title="更多" /></a></span>科研成果<em> Scientific payoffs</em></h3>
        <dl>
          <dt><a href="javascript:void(0)" title=""><img src="/uploadfiles/thumb/2012122617531918.jpg" width="184" height="138" alt="" title="" /></a></dt>
          <dd>
            <ul>
                
                    <li><span>2015-05-11</span><a target="_blank"  href="scientific_detail.aspx?id=7026">中国工程院院士陈香美与省医“结亲”</a></li>
                  
                    <li><span>2015-05-08</span><a target="_blank"  href="scientific_detail.aspx?id=7025">美国佛罗里达大学麻醉科Martynyuk教授来我院学术交流</a></li>
                  
                    <li><span>2015-05-08</span><a target="_blank"  href="scientific_detail.aspx?id=7024">美国哈佛大学麻省总医院李爱荣教授顺邀前来我院</a></li>
                  
                    <li><span>2014-05-27</span><a target="_blank"  href="scientific_detail.aspx?id=6129">河南省科技厅成果奖申报细则</a></li>
                  
                    <li><span>2014-04-25</span><a target="_blank"  href="scientific_detail.aspx?id=5970">又见大家风范</a></li>
                  
                    <li><span>2014-04-08</span><a target="_blank"  href="scientific_detail.aspx?id=5877">创新科研管理，科研卓见成效</a></li>
                  
            </ul>
          </dd>
        </dl>
      </div>
      
       <div class="mob_ks07">
        <h3><span><a href="scientific_list.aspx?id=15"><img src="images/more_02.jpg" width="53" height="16" alt="更多" title="更多" /></a></span>教育培训<em> Education & training</em></h3>
        <dl>
          <dt><a href="javascript:void(0)" title=""><img src="/uploadfiles/thumb/2013030114481394.jpg" width="184" height="138" alt="" title="" /></a></dt>
          <dd>
            <ul>
                
                    <li><span>2014-08-28</span><a target="_blank"  href="scientific_detail.aspx?id=6458"> 河南省人民医院（新乡医学院）2011级见习生岗前培训安排</a></li>
                  
                    <li><span>2014-07-29</span><a target="_blank"  href="scientific_detail.aspx?id=6405">住院医师自我授课开启教学培训新模式</a></li>
                  
                    <li><span>2014-07-23</span><a target="_blank"  href="scientific_detail.aspx?id=6372">河南省人民医院2014年新职工岗前培训时间表</a></li>
                  
                    <li><span>2014-07-22</span><a target="_blank"  href="scientific_detail.aspx?id=6364">2014年7月23日学术讲座</a></li>
                  
                    <li><span>2014-07-14</span><a target="_blank"  href="scientific_detail.aspx?id=6327">集思广益谋思路 务实创新促发展</a></li>
                  
                    <li><span>2014-06-28</span><a target="_blank"  href="scientific_detail.aspx?id=6326">新鲜知识学进来，满腹墨水传出去</a></li>
                  
                    <li><span>2014-06-23</span><a target="_blank"  href="scientific_detail.aspx?id=6261">河南省早产儿论坛通知</a></li>
                  
            </ul>
          </dd>
        </dl>
      </div>
      
       <div class="mob_ks07">
        <h3><span><a href="scientific_list.aspx?id=16"><img src="images/more_02.jpg" width="53" height="16" alt="更多" title="更多" /></a></span>中华实验眼科杂志<em></em></h3>
        <dl>
          <dt><a href="javascript:void(0)" title="中华实验眼科杂志 "><img src="/uploadfiles/thumb/2012122616161293.jpg" width="184" height="138" alt="中华实验眼科杂志 " title="中华实验眼科杂志 " /></a></dt>
          <dd>
            <ul>
                
                    <li><span>2014-05-06</span><a target="_blank"  href="scientific_detail.aspx?id=6014">中华实验眼科杂志2014年第32卷第5期目次</a></li>
                  
                    <li><span>2014-05-06</span><a target="_blank"  href="scientific_detail.aspx?id=6013">中华实验眼科杂志2014年第32卷第4期目次</a></li>
                  
                    <li><span>2014-05-06</span><a target="_blank"  href="scientific_detail.aspx?id=6012">中华实验眼科杂志2014年第32卷第3期目次</a></li>
                  
                    <li><span>2014-05-06</span><a target="_blank"  href="scientific_detail.aspx?id=6011">中华实验眼科杂志2014年第32卷第2期目次</a></li>
                  
                    <li><span>2014-05-06</span><a target="_blank"  href="scientific_detail.aspx?id=6010">中华实验眼科杂志2014年第32卷第1期目次</a></li>
                  
                    <li><span>2013-12-20</span><a target="_blank"  href="scientific_detail.aspx?id=5460">中华实验眼科杂志2013年第31卷文题分类索引</a></li>
                  
                    <li><span>2013-12-20</span><a target="_blank"  href="scientific_detail.aspx?id=5459">中华实验眼科杂志2013年第31卷第一作者索引</a></li>
                  
            </ul>
          </dd>
        </dl>
      </div>
      
       <div class="mob_ks07">
        <h3><span><a href="scientific_list.aspx?id=17"><img src="images/more_02.jpg" width="53" height="16" alt="更多" title="更多" /></a></span>中华实用诊断与治疗杂志<em></em></h3>
        <dl>
          <dt><a href="javascript:void(0)" title=""><img src="/uploadfiles/thumb/2012122616162893.jpg" width="184" height="138" alt="" title="" /></a></dt>
          <dd>
            <ul>
                
                    <li><span>2014-12-30</span><a target="_blank"  href="scientific_detail.aspx?id=6699">《中华实用诊断与治疗杂志》2014年总索引</a></li>
                  
                    <li><span>2013-02-18</span><a target="_blank"  href="scientific_detail.aspx?id=675">《中华实用诊断与治疗杂志》简介</a></li>
                  
                    <li><span>2013-02-18</span><a target="_blank"  href="scientific_detail.aspx?id=710">使用 Word文档的修订方法</a></li>
                  
                    <li><span>2013-02-18</span><a target="_blank"  href="scientific_detail.aspx?id=706">《中华实用诊断与治疗杂志》第五届编委会名单</a></li>
                  
                    <li><span>2013-02-18</span><a target="_blank"  href="scientific_detail.aspx?id=640">《中华实用诊断与治疗杂志》</a></li>
                  
                    <li><span>2013-02-18</span><a target="_blank"  href="scientific_detail.aspx?id=635">《中华实用诊断与治疗杂志》稿约</a></li>
                  
                    <li><span>2013-02-18</span><a target="_blank"  href="scientific_detail.aspx?id=714">《期刊编排格式》注意事项</a></li>
                  
            </ul>
          </dd>
        </dl>
      </div>
      
       <div class="mob_ks07">
        <h3><span><a href="scientific_list.aspx?id=18"><img src="images/more_02.jpg" width="53" height="16" alt="更多" title="更多" /></a></span>图书馆<em></em></h3>
        <dl>
          <dt><a href="javascript:void(0)" title=""><img src="/uploadfiles/thumb/2012122610284795.jpg" width="184" height="138" alt="" title="" /></a></dt>
          <dd>
            <ul>
                
                    <li><span>2010-12-07</span><a target="_blank"  href="scientific_detail.aspx?id=741">中文期刊镜像站（知网）使用通知</a></li>
                  
                    <li><span>2010-08-11</span><a target="_blank"  href="scientific_detail.aspx?id=739">外文期刊检索平台成功升级并实施多账号管理办法 (试行)</a></li>
                  
                    <li><span>2010-04-01</span><a target="_blank"  href="scientific_detail.aspx?id=734">图书馆关于延长开放时间的通知</a></li>
                  
                    <li><span>2010-03-23</span><a target="_blank"  href="scientific_detail.aspx?id=732">关于举办康健外文期刊知识讲座的通知</a></li>
                  
                    <li><span>2010-02-08</span><a target="_blank"  href="scientific_detail.aspx?id=729">外文期刊 上线测试公告</a></li>
                  
                    <li><span>2010-02-08</span><a target="_blank"  href="scientific_detail.aspx?id=727">万方数据 系列数据库 试用通知</a></li>
                  
                    <li><span>2010-02-08</span><a target="_blank"  href="scientific_detail.aspx?id=724">同方知网 中文系列数据库 试用通知</a></li>
                  
            </ul>
          </dd>
        </dl>
      </div>
      
       <div class="mob_ks07">
        <h3><span><a href="scientific_list.aspx?id=78"><img src="images/more_02.jpg" width="53" height="16" alt="更多" title="更多" /></a></span>中心实验室<em></em></h3>
        <dl>
          <dt><a href="javascript:void(0)" title=""><img src="/uploadfiles/thumb/2013082215200828.jpg" width="184" height="138" alt="" title="" /></a></dt>
          <dd>
            <ul>
                
                    <li><span>2014-01-02</span><a target="_blank"  href="scientific_detail.aspx?id=5456">科研系列讲座时间变更通知</a></li>
                  
                    <li><span>2013-12-16</span><a target="_blank"  href="scientific_detail.aspx?id=5393">科研系列讲座第十讲时间地点变更通知</a></li>
                  
                    <li><span>2013-12-04</span><a target="_blank"  href="scientific_detail.aspx?id=5360">科研系列讲座 第九讲</a></li>
                  
                    <li><span>2013-11-21</span><a target="_blank"  href="scientific_detail.aspx?id=5302">科研系列讲座 第八讲</a></li>
                  
                    <li><span>2013-11-07</span><a target="_blank"  href="scientific_detail.aspx?id=5206">科研系列讲座 第七讲</a></li>
                  
                    <li><span>2013-10-23</span><a target="_blank"  href="scientific_detail.aspx?id=5115">科研系列讲座 第六讲</a></li>
                  
                    <li><span>2013-10-10</span><a target="_blank"  href="scientific_detail.aspx?id=5033">科研系列讲座 第五讲</a></li>
                  
            </ul>
          </dd>
        </dl>
      </div>
      
    </div>
  </div>
<!--content end-->
<!--Footer-->
<%template src="_footer.html"%>
<!--/Footer-->
</div>
</body>
</html>