<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{model.title} - {site.name}</title>
<meta name="keywords" content="{model.seo_keywords}" />
<meta name="description" content="{model.seo_description}" />
<link href="{config.webpath}css/pagination.css" rel="stylesheet" />
    <link href="<%templateskin%>/css/common.css" rel="stylesheet" type="text/css" />
    <link href="<%templateskin%>/css/second.css" rel="stylesheet" type="text/css" />
    <link href="<%templateskin%>/css/base.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" charset="utf-8" src="{config.webpath}scripts/jquery/jquery-1.11.2.min.js"></script>
<script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/common.js"></script>
    <script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/imgReady.js"></script>
</head>

<body>
    <div class="wrap">
        <!--Header-->
        <%template src="_header.html"%>
        <!--/Header-->
        <!--content begin-->
        <div class="content survey_cont">
            <!--left-->
            <%template src="_surveyLeftNav.html"%>
            <!--/left-->
            <div class="right survey_right">
                <div class="survey_main sur_wh">
                    <h3 id="h3_dateTitle"><span></span>{model.title}</h3>
                    <span id="span_Content"></span>
                    <ul><!--此处为16条新闻列表-->
            			<%set DataTable newsList=get_article_list(channel, category_id, pagesize, page, "status=0", out totalcount, out pagelist, "news_list", category_id, "__id__")%> 
                		<%foreach(DataRow dr in newsList.Rows)%>
                		<li><em>{dr[add_time]}</em>
                  		<a href="<%linkurl("survey_show",{dr[id]})%>">{dr[title]}</a>
                		</li>
                		<%/foreach%>
        			</ul>
                </div>
                <div class="page_mob02">
                    <!--页码列表-->
                    <div id="anpNews">
                        <div class="digg">{pagelist}</div>
                    </div> 
                    <!--/页码列表-->
                </div>
            </div>
        </div>
        <!--content end-->
        <div class="clear"></div>
        <!--Footer-->
        <%template src="_footer.html"%>
        <!--/Footer-->
        <!--quick nav start-->
        <%template src="_quick_nav.html"%>
        <!--quick nav end-->
    </div></body>
</html>